:root{
    --azul-escuro: #0A192F;
    --azul-principal: #5409DA;
    --azul-segundario: #4E71FF;
    --azul-bebe: #8DD8FF;
    --cinza: #273857;
    --menta: #BBFBFF;
    --branco: #FFFFFF;
    --preto: #000000;
}

.skills {
  padding: 4rem 2rem;
  background: var(--azul-escuro);
  color:var(--branco);
  text-align: center;
}

.skills h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color:var(--branco);
}

.skills p {
  margin-bottom: 2rem;
  color: var(--branco);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 80%;
  margin: auto;
}

.skills-box {
  background: var(--cinza);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.skills-box:hover {
  transform: translateY(-5px);
}

.skills-box h3 {
  margin-bottom: 1rem;
  color: var(--menta);
}

.skills-box ul {
  list-style: none;
  padding: 0;
}

.skills-box ul li {
  margin: 0.6rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--branco);
}

.skills-box ul li i {
  font-size: 1.3rem;
}