:root {
  --azul-escuro: #0A192F;
  --azul-principal: #5409DA;
  --azul-segundario: #4E71FF;
  --azul-bebe: #8DD8FF;
  --cinza: #273857;
  --menta: #BBFBFF;
  --branco: #FFFFFF;
  --preto: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

html,
body,
#root {
  text-align: center;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  background: var(--azul-escuro);
  color: var(--branco);
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}